#ix-modal {
    position: fixed;
    display: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    .ix-close {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transform: rotate(45deg);
        z-index: 10;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 10px;
            height: 2px;
            background: #cc0000;
            transform: translate(-50%);
        }
        &::after {
            transform: translate(-50%) rotate(-90deg);
        }
    }
}